@import "styles/abstract/variables.scss";

#schedule {
    .container {
        padding: 4rem;
        @include flex-column;
        align-items: center;
        h2 {
        @include red-box; 
        }
        .days-list {
            margin-top: 2rem;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            flex-wrap: wrap;
        }
    }
}