@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500&family=Bebas+Neue&family=Inter:wght@300;400;800&family=Righteous&family=Varela+Round&display=swap');


// Media Queries 

$table: 1024px;
$desktop: 1440px;


// Colors

$primary-color: #D10900;
$secondary-color: #FF5B00;
$third-color: #F6F1F1;
$bright-gray: #f7f2f2;
$dark-gray: #494949;

// Logo 

$logo-text-color: #FFFFFF;
$logo-color: #F6F1F1;
$logo-primary-font: 'Righteous';
$logo-secondary-font: 'Varela Round';

// Fonts

$main-font: 'Bebas Neue';
$secondary-font: 'Kanit';

// Card

$basic-card-bg-color: #FFFFFF;

// Mixins 

@mixin size-font($size, $font) {
    font-family: $font;
    font-size: $size;
}

@mixin red-box {
    color: #FFFFFF;
    background-image: url("../../assets/text-bg1.png");
    background-size: 90%;
    background-repeat: no-repeat;
    @include size-font(1.8rem, $main-font);
    padding: 3.5rem;
    background-position: center;
    text-align: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
