@import 'styles/abstract/variables.scss';
.logo {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: $logo-text-color;
    .img {
        // background-color: $primary-color;
        color: #FFFFFF;
        width: 4rem;
        height: 4rem;
        padding: .3rem;
        border-radius: 2px;
        // box-shadow: 1px 1px 3px #000000;
    }
    .text {
        h3 {
            font-size: 1.2rem;
            font-family: $logo-primary-font;
        }
        h4 {
            font-size: .9rem;
            font-family: $logo-secondary-font;
            letter-spacing: 2px;
        }
    }
}