@import 'styles/abstract/variables.scss';
.logo {
    display: flex;
    gap: .5rem;
    align-items: center;
    color: $logo-text-color;
    svg {
        background-color: linear-gradient(to right $primary-color, $secondary-color);
        color: #FFFFFF;
        width: 3.5rem;
        height: 3.5rem;
        padding: .3rem;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #000000;
    }
    .text {
        h3 {
            font-size: 1.2rem;
            font-family: $logo-primary-font;
        }
        h4 {
            font-size: .9rem;
            font-family: $logo-secondary-font;
            letter-spacing: 2px;
        }
    }
}