@import 'styles/abstract/variables.scss';
.exercise {
    min-height: 300px;
    @include flex-column;
    align-items: center;
    background-color: $basic-card-bg-color;
    padding: 1rem;
    width: 80%;
    border-radius: 0 20px;
    text-align: center;
    box-shadow: 0 1px 4px #000000;
    &:hover{
        background: url("../../../assets/fitness.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        color: #FFFFFF;
    }
    svg {
        width: 5rem;
        height: 5rem;
        color: $primary-color;
    }
    h2 {
    @include size-font (2rem, $main-font);
    }
    p {
        @include size-font (1.2rem, $secondary-font);
    }
}

@media screen and (min-width: 1024px) {

}    