@import 'styles/abstract/variables.scss';
.trainer {
    @include flex-column;
    align-items: center;
    position: relative;
    .image-container {
        background-image: url("../../../assets/trainers/trainer-bg.png");
        background-size: contain;
        text-align: center;
        background-repeat: no-repeat;
        &:hover {
            img {
                filter: grayscale(0%);
            }
            .arrow {
                top: -40px;
            }
        }
            img {
                transition: all .2s;
                width: 90%;
                filter: grayscale(100%); 
            }
    }
    .info {
        @include flex-column;
        align-items: center;
        padding-top: 1rem;
        justify-content: space-evenly;
        width: 90%;
        height: 12.4rem;
        position: absolute;
        background-color: #FFFFFF;
        bottom: 0;
        padding-top: 1rem;
        box-shadow: 1px 1px 5px #dad4d4;
        &:hover {
            .bar {
                width: 100%;
            }
        }
        .arrow {
            background-color: #FFFFFF;
            border-radius: 44%;
            border-bottom: none;
            position: absolute;
            top: -1rem;
            padding: 0 15px;
        }
        h3 {
            @include size-font(2rem, $main-font);
        }
        h4 {
            @include size-font(1.1rem, $secondary-font);
        }

        .bar {
            background-color: $primary-color;
            width: 20%;
            padding: 3px;
            position: absolute;
            bottom: 0;
            transition: all .5s;
        }
        .social {
            display: flex;
            gap: 2rem;
            svg {
                color: rgb(179, 179, 179);
                width: 1.4rem;
                height: 1.4rem;
                &:hover {
                    color: $primary-color;
                }
            }               
        }
    }
}


@media screen and (min-width: 790px) {
    .trainer {
        .image-container {
            img {
                width: 100%;
            }
        }
        .info {
           height: 8rem; 
           padding-bottom: 8px;
           width: 100%;
        }
    }
}    