@import "styles/abstract/variables.scss";

.quality {
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    gap: 1.5rem;
    text-align: center;
    h3 {
        @include size-font(1.8em, $main-font);
    }
    img {
         width: auto;
         height: 100px;
         padding: .5rem;
         
    }
}

@media screen and (min-width: 1024px) {
    .quality {
        &:nth-child(2n) {
            border-left: 2px solid #858383;
            border-right: 2px solid #858383;
            border-radius: 2px;
            padding: 0 2rem;
        }
        img {
            max-width: 150px;
            width: auto;
            // height: 200px;
            background-color: $bright-gray;
            overflow: visible;
            border-radius: 50%;
        }
    }
}