@import 'styles/abstract/variables.scss';

#bmi {
    background-image: url("../../assets/womansback.jpg");
    background-size: cover;
    background-position: left 70%;
    width: 100%;
    .container {
        display: flex;
        flex-wrap: wrap;
        color: #FFFFFF;
        padding: 2.5rem 1rem;
        gap: 2rem;
        h2 {
            @include size-font(3rem, $main-font);
            font-weight: bold;
            span {
                color: $primary-color;
            }
        }
        p {
            @include size-font(1.3rem, $secondary-font);
            span {
                color: $primary-color;
                font-weight: bold;
            }
        }
        form {
            @include flex-column;
            width: 100%;
            flex-wrap: wrap;
            gap: 2rem;
            input {
                background-color: white;
                width: 48%;
                padding: 1rem;
                margin: .2rem;
                @include size-font(1em, $main-font);
                color: black; 
                &::placeholder {
                    color: $dark-gray;
                    @include size-font(1em, $main-font);
                }
            }
            button {
                margin: 1.2rem auto;
            }
            .result {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #bmi {
        .container {
            width:50%;
            padding-left: 3rem; 
            form {
                .result {
                    justify-content: stretch;
                    gap: 30%;
                }
                button {
                    margin: 0;
                }
            }
        }
    }
}