@import 'styles/abstract/variables.scss';

#bmi {
    background-image: url("../../assets/womansback.jpg");
    background-size: cover;
    background-position: left 70%;
    width: 100%;
    .bmi__container {
        display: flex;
        flex-wrap: wrap;
        color: #FFFFFF;
        margin-top: 4rem;
        padding: 1rem;
        gap: 1rem;
        h2 {
            @include size-font(3rem, $secondary-font);
            font-weight: bold;
            span {
                color: $primary-color;
            }
        }
        p {
            @include size-font(1.5rem, $secondary-font);
            span {
                color: $primary-color;
                font-weight: bold;
            }
        }
        form {
            display: flex;
            gap: 10px;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            input {
                background-color: white;
                width: 40%;
                padding: 1rem;
                margin: 1rem 5px;
                color: black; 
                &::placeholder {
                    color: #cac0c0;
                    font-family: $main-font;
                }
            }
            .result {
                display: flex;
                justify-content: center;
                gap: 4rem;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 780px) {
    #bmi {
        .bmi__container {
            width:50%;
        }
    }
}