@import 'styles/abstract/variables.scss';

.menu{
    position: fixed;
    top: 0;
    left: -110%;
    height: 100vh;
    width: 100vw;
    z-index: 999999;
    background-color: #000000;
    transition: all .2s;
    ul {
        @include flex-column;
        align-items: center;
        padding: 1rem 1rem;
        @include size-font(1.5em, $main-font);
        height: 100vh;
        color: #FFFFFF;
        li:first-child {
             align-self: end;
        }
        li {
            margin-bottom: 1rem;
        }
        .close {
            margin-left: auto;
            width: 45px;
            height: 45px;
            color: $primary-color; 
        }
        a.active {
            border-bottom: 2px solid #FFFFFF;
        }           
    }
}