@import "styles/abstract/variables.scss";

.button {
    background-color: $primary-color;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    @include size-font(1.7rem, $main-font);
    &:hover {
        background-color: $secondary-color;
    }
}

.subscribe {
    color: white;
    background-color: $primary-color;
    padding: 1rem;
    margin: 1rem 0;
    @include size-font(1.5rem, $main-font);
    transition: all .2s;
    cursor: pointer;
    &:hover {
        background-color: $secondary-color;
    }
}

