@import 'styles/abstract/variables.scss';

#trainers {
    padding: 1rem 1rem 4rem;
    background-image: url("../../assets/trainers/trainers-bg.png");
    position: relative;
    &::after {
        content: url("../../assets/trainers/bg-weight.png");
        position: absolute;
        top: 0;
        right: 0;
    }
    .text-container {
        @include flex-column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
        padding: 1rem;
        h3 {
            @include red-box;
            @include size-font(1.5rem, $main-font);
            width: 50%;
        }
        h2 {
            @include size-font (2.5rem, $secondary-font);
            font-weight: bold;
        }
        p {
            @include size-font (1rem, $secondary-font);
            font-weight: 500;
            color: #292727;
            margin-bottom: 1rem;
        }
    }
    ul {
        @include flex-column;
        gap: 2rem;
    }
}

@media screen and (min-width: 790px) {
    #trainers {
        ul {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5rem;
        }
    }
}