@import "styles/abstract/variables.scss";

#contact {
    width: 100%;
    margin: 2rem 0 0;
    .container {
        @include flex-column;
        justify-content: center;
        padding: 1rem;
        margin-top: 2rem;
        .general-infos-container {
            @include flex-column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 2rem;
            h1 {
                @include size-font(2.5em, $main-font);
            }
            p.text {
                @include size-font(1em, $secondary-font);
            }
            .infos {
                @include flex-column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #contact {
        .container {
            padding: 0 2rem;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 1rem;
            .general-infos-container {
                width: 50%;
                .infos {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 1rem;
                }
            }
            .form-container {
                width: 50%;
            }
        }
    }
}