@import "styles/abstract/variables.scss";

#footer {
    background-color: #000000;
    color: #FFFFFF;
    .container {
        @include flex-column;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
        .inner-container {
            @include flex-column;
            align-items: center;
            gap: 1rem;
            p {
                text-align: center;
                padding: 0 5%;
                @include size-font(1rem, $secondary-font);
            }
            .bold {
                font-weight: bold;
            }
            h2 {
            @include size-font(2rem, $main-font);
            border-bottom: 2px solid #FFFFFF; 
            }
            .social {
                display: flex;
                gap: 1rem;
                a {
                    transition: all .2s;
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    &:hover {
                        color: $primary-color;

                    }
                }
            }
            ul {
                li {
                    @include flex-column;
                    gap: .8rem;
                    a {
                        padding-top: 1rem;
                        @include size-font(1.2em, $secondary-font);
                        transition: all .2s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #footer {
        .container {
            padding: 5rem;
            flex-direction: row;
            align-items: normal;
            .inner-container {
                width: 30%;
                flex-wrap: wrap;
                gap: 1.5rem;
                &--border {
                    border-left: 2px solid #FFFFFF;
                    border-right: 2px solid #FFFFFF;
                }
            }
        }
    }
}