@import 'styles/abstract/variables.scss';

.testimonial {
    display: flex;
    height: 350px;
    .text-container {
        @include flex-column;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        color: white;
        background-color: black;
        p {
            @include size-font(1rem, $secondary-font);
            font-style: italic;
        }
        h3 {
            @include size-font(1.2rem, $secondary-font);
        }
        h4 {
            @include size-font(1.1rem, $secondary-font);
        }
    }
    .image-container {
        display: none;
        width: 40%;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px) {
    .testimonial {
        position: relative;
        .text-container {
            width: 80%;
            height: 280px;
            position: absolute;
            bottom: 0;
            left: 30%;
            p {
                width: 80%;
            }
        }
        .image-container {
            display: block;
            background-color: $primary-color; 
            width: 30%;
            background-size: 80%;
            background-position-x: 50%;
            background-position-y: -40%;
            background-repeat: no-repeat;
            border-radius: 0 23% 0 0;
            box-shadow: 2px 5px 5px #000000;
        }
        .text-container {
            width: 70%;
        }
    }
}