@import 'styles/abstract/variables.scss';

.testimonial {
    @include flex-column;
    gap: 1rem;
    background-image: url("../../../assets/quote.png");
    background-repeat: no-repeat;
    width: 100%;
    background-position: top 1rem left 1rem;
    .image-container {
        display: none;
    } 
    .text-container {       
        @include flex-column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        p {
            @include size-font(1rem, $secondary-font);
            font-style: italic;
        }
        h3 {
            @include size-font(1.4rem, $main-font);
        }
        h4 {
            @include size-font(1rem, $secondary-font);
        }
    }
}

@media screen and (min-width: 780px) {
    .testimonial {
        min-height: 400px;
        flex-direction: row;
        overflow: visible;
        .image-container {
            display: block;
            width: 40%;
            // min-width: 40%;
            position: relative;
            overflow: visible;
            img {
                position: absolute;
                bottom: 0;
                left: 10;
                min-height: 550px;
                min-width: 300px;
                border-radius: 0  150px 0 0;
            }
        }
        .text-container {
            width: 70%;
        }
    }
    
}