@import 'styles/abstract/variables.scss';

#banner {
    height: 110vh;
    background: url("../../assets/banner.jpg");
    background-size: cover;
    background-position-x: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        text-align: center;
        position: relative;
        .text {
            @include flex-column;
            align-items: center;
            h3 {
                @include red-box;
                max-width: 300px;
            }
            h2 {
                font-size: 2.8rem;
                font-family: $secondary-font;
                text-transform: uppercase;
            }
            .bold-red {
                font-weight: 800;
                color: $primary-color;
            }
            .thin {
                font-weight: 300;
            }
        }
        .share {
            display: none;
        }
    } 
}

@media screen and (min-width: 1024px) {
    #banner {
        .container {
            margin: 0;
            gap: 1rem;
            .share {
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: rotate(90deg);
                @include size-font(2rem, $main-font);
                .bar {
                    display: inline-block;
                    width: 3rem;
                    height: .5rem;
                    margin: .5rem;
                    border-radius: 20px;
                    background-color: $primary-color;
                }
                .social {
                    display: inline-flex;
                    gap: .5rem;
                    a {
                        transition: color .4s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}